{% extends 'store/index.html' %}

<head>
 {% block title %}
  <title>About Us</title>
 {% endblock %} 
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      {% block nav %}
      <nav id="navbar" class="navbar">
         
        <ul>
          <li><a class="active" href="{% url 'about' %}">About Us</a></li>
          <li><a  href="{% url 'tips' %}">Health tips</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% endblock %}

    </div>
  </header><!-- End Header -->

  {% block hero %}
  {% endblock %}

  {% block main %}
  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li>Home</li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->


    


    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
      <div class="container">

       
          <div class="section-title">
            <!---<h2>Who we are</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
  
            </p><br>--->
            <h2>Our vision</h2>
            <p>To become the leading and trusted provider of health care, so as to achieve healthy living and improved quality of life for all.
  
            </p><br>
            <h2>Our mission</h2>
            <p>To ensure our patients get quality products at best prices, effective and services promoting quick recovery and hence save lives.
  
            </p><br>
            <h2>Core Values</h2>
            <p><ul>
              <li>Quality brands</li>
              <li>Customer focus</li>
              <li>Efficient services</li>
              <li>Compeling</li>
              <li>Compassion</li>
              <li>Confidentiality</li>
              <li>Community minded</li>
              <li>Continues Improvement</li>
            </ul>
  
            </p><br>
            <!---
            <h2>What we do</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
  
            </p>-->
         
          </div>
        

       

      </div>
    </section><!-- End Our Skills Section -->

    

  </main><!-- End #main -->
  {% endblock %}
 

</body>

</html>