{% extends 'store/index.html' %}

<head>
  
  {% block title %}
  <title>Contact</title>
  {% endblock %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">


      {% block nav %}
        <nav id="navbar" class="navbar">
         
          <ul>
            <li><a href="{% url 'tips' %}">Health tips</a></li>
            <li><a class="active" href="{% url 'contact' %}">Contact Us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      {% endblock %}

    </div>
  </header><!-- End Header -->

  {% block hero %}
  {% endblock %}

  {% block main %}
  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li> Home</li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Addresses</h3>
                  <p>Along Ogunu road, Warri, Delta State.<br>
                  opposite Ecobank kolokolo, Udu, Delta State.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>nugary03.17@gmail.com<br>nemeka13@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+234 70 4903 9370<br>+234 81 6918 8795</p>
                </div>
              </div>
            </div>

          </div>

          

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
      <div class="map-title">
        <h5>Location 1</h5>
      </div>
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1985.629481552099!2d5.728514138002196!3d5.528547298612909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10404d88fdd3f4f3%3A0x754fb82a4a59854e!2sNugary%20Pharmacy%20Ogunu!5e0!3m2!1sen!2sng!4v1690114894588!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>

      <br>
      <div class="map-title">
        <h5>Location 2</h5>
      </div>
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.3944459480986!2d5.782223872813694!3d5.50831559447167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041b36e22b1ddeb%3A0x364c04976315fbfc!2sNugary%20Pharmacy%20Warri!5e0!3m2!1sen!2sng!4v1690629761032!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section><!-- End Map Section -->

  </main><!-- End #main -->
  {% endblock %}

  

</body>

</html>