{% extends 'store/index.html' %}

<head>
 
  {% block title %}
  <title>Product Details</title>
  {% endblock %}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

     
      {% block nav %}
      
      <nav id="navbar" class="navbar">
       
        <ul>
          <li><a href="{% url 'tips' %}">Health tips</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% endblock %}
    </div>
  </header><!-- End Header -->

  {% block hero %}
  {% endblock %}

  {% block main %}
  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li>Home</li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="product-details" class="product">
      <div class="cart">
           <a class="cart-img" href="{% url 'view_cart' %}"><i class="bi bi-cart-check"></i></a>
           <span class="position-absolute bottom-5 start-50 translate-middle badge rounded-pill bg-danger">
            {% if count  %}
              {{ count }}
            {% endif %}  
           </span>
      </div>
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 entries d-flex justify-content-center">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="https://admin.nugarypharmacy.com{{product.img}}" alt="product image" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'product_details' %}?name={{product.name}}&brand={{product.brand}}">{{product.name}}</a>
              </h2>


              <div class="entry-content">
               <!-- <p>
                    <strong>
                    {{product.brand}}
                    </strong>
               </p> -->
                <form method="post" action="{% url 'view_cart' %}" style="display: none;">
                  {% csrf_token %}
                    <input class="product_name" title="product name" type="text" value="{{product.name}}" name="productName">
                    <input class="product_img" title="product image" type="text" value="{{product.img}}" name="productImg">
                    <input class="product_quantity" title="quantity selected" type="text"  name="productQty">
                    <input class="product_price" title="product unit price" type="text" value="{{product.price}}" name="productPrice">
                    <input class="submit_btn" type="submit">
                </form> 
                {% if 'Supplement' in product.category or 'Toy' in product.category or 'supplement' in product.category or 'toy' in product.category %}
                  <p> N {{product.price}}/{{product.unit_code}}</p>
                  <p>
                    {{product.comment}}
                  </p>
                  <hr>
                  <div class="qty">  
                    <span ><strong>Quantity: </strong></span> <input class="qtyBox" type="number" name="qty" placeholder="1" />
                  </div>  
                    <div class="add-cart">
                        <a href="#">Add to cart</a>
                    </div>
                
                {% endif %}
                
                    <div class="buy-now">
                        <a href="{% url 'purchase' %}?buy_now=1">Buy now</a>
                    </div>
              </div>
            </article><!-- End blog entry -->

          </div><!-- End blog entries list --> 
        </div>
        <div class="check-out">
          <a href="{% url 'purchase' %}">Proceed to Checkout</a>
        </div>  
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
  {% endblock %}

 
</body>

</html>