{% extends 'store/index.html' %}

<head>
  
  {% block title %}
  <title>Purchase</title>
  {% endblock %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">


      {% block nav %}
        <nav id="navbar" class="navbar">
         
          <ul>
            <li><a href="{% url 'tips' %}">Health tips</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      {% endblock %}

    </div>
  </header><!-- End Header -->

  {% block hero %}
  {% endblock %}

  {% block main %}
  <main id="main">

  
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li> Home</li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section>  
    

    <!-- ======= Purchase Section ======= -->
    <section class="account" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bi bi-cart-check"></i>
                  <h3>Proceed to Payment</h3>
                  <hr>
                  <p>Subtotal: <span class="sub-total"><strong>{{subtotal}}</strong></span><strong> NGN</strong><br>
                    <select id="select-locations" name="your-location " title="your-location">
                      <option selected>Choose your location</option>
                      <option value="Agb">Agbaro</option>
                      <option value="Air">Airport Junction</option>
                      <option value="Ala">Aladja</option>
                      <option value="Dsc">D.S.C.</option>
                      <option value="Dsr">D.S.C. Round About</option>
                      <option value="Eff">Effurun Road</option>
                      <option value="Egi">Egini</option>
                      <option value="Eke">Ekete</option>
                      <option value="Ene">Enerhen Junction</option>
                      <option value="Hau">Hausa Quarter</option>
                      <option value="Jak">Jakpa Road</option>
                      <option value="Ogh">Oghara</option>
                      <option value="Okp">Okpaka</option>
                      <option value="Oto">Otokuto</option>
                      <option value="Ovw">Ovwian</option>
                      <option value="Owh">Owhase</option>
                      <option value="Pti">P.T.I.</option>
                      <option value="Ref">Refinery Road</option>
                      <option value="Sed">Sedico</option>
                      <option value="Ubo">Ubogo</option>
                      <option value="Ugh">Ughelli</option>
                      <option value="Usi">Usiefrun</option>
                      <option value="Usu">Usubi</option>
                      <option value="Uto">Utor-Udu</option>
                    </select><br>
                    Delivery Fee: <span class="delivery-fee">-- NGN</span><br>
                    Total Amount: <span class="amount">-- NGN</span>
                  </p>
                  <h6><strong> call us (+234 8169188795 or +234 8163106125) or send the evidence of payment to our WhatsApp(https://wa.me/2348163106125) after you have paid.<br>
                    *Note: We might not get to your doorstep, please meet us at the closest landmark within your location to receive 
                    your order.<br>
                   for other areas outside our specified locations please contact us before payment.
                 </strong>
                  </h6>   
                  <br>

                  <p>Name:<strong> Nugary Pharmacy</strong><br>
                    Number:<strong> 1015321340</strong><br>
                    Bank: <strong> Zenith Bank</strong></p>
                    <br>
                    <br>
                  <p>Name:<strong> Samuel N Obi</strong><br>
                    Number: <strong>0017874011</strong><br>
                    Bank: <strong>Stanbic ibtc</strong></p>
                  </p> 

                  <br>
                  
                  <hr>
                  <p>
                    Please call us on +234 7049039370 or +234 8169188795 after payment to receive your order.
                  </p> 
                </div>
              </div>
            </div>

          </div>

          

        </div>

      </div>
    </section><!-- End Purchase Section -->


  </main><!-- End #main -->
  {% endblock %}

  

</body>

</html>